@import '../../../globals.scss';

footer {

  height: $footerHeight;
  background-image: $gradient5;
  padding: $spacing;
  padding-top: calc(#{$spacing} + #{$borderRadius});
  border-radius: $borderRadius 0 0 0;
  margin-top: -$borderRadius;

  display: flex;
  align-items: center;
  flex-direction: column;

  .logo {

    margin-top: calc(#{$spacing} / 3);

    a {

      display: inline-block;
    }
  }

  menu {

    display: flex;
    gap: $spacing; 
    padding: 0;
    margin-top: calc(#{$spacing} / 2);

    a {

      color: #122724;
      font-size: 0.75rem;
      text-decoration: none;
    }
  }
}